body {
  width: 290px;
  margin: auto;
}

.Post {
  padding: 12px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 10px;
}

.Post__Image {
  max-width: 250px;
}

a {
  text-decoration: none;
}

a.active {
  text-decoration: underline;
}
